

/* Home */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:josfin sans;
    font-size: 20px;
}

.billboard{
             height: 70vh;
             
             display: flex;
         } 

        

nav{
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
  
    

    
  }

  
  .nav-menu{
    padding-left: 800px;

  }


nav a{
       color: black;
       text-decoration: none;
       
       
    }

nav a:hover{
color: white;
background-color: rgb(30, 35, 126);
border-radius: 5px;
text-decoration: none;

}

li{
  display: inline-block;
  list-style: none;
  
  
 
 }
 
 .psh{padding: 0px 0px 0px 50px;

 }
 

ul{
  float: right;
}

 .para{ padding-bottom: 10px;
  font-size: 25px;

 }

 .para0{ padding-bottom: 10px;
  font-size: 25px;
  font-family: cursive;
  font-style: italic;

 }



 h1{font-size: 60px;
  font-weight: bold;
  

 }

 .btn{
  padding: 25px 0px; 
  border-radius: 5px;
  
  
    
 }
 
 .getin{
  background-color: rgb(30, 35, 126);
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  
 


}

.getin:hover{ background-color:black;
color: white;
text-decoration: none;
}
.img1{
 width: 500px;;
 height: 400px;
 
  
}
.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}



@media (max-width:575px){

  h1{
    font-size: 48px;
  }

  .hamburger{
    display: block;
    margin-left: 619px;
  }
  
  
  .hamburger.active .bar:nth-child(2){
  
    opacity: 0;
  }
  
  
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
   .nav-menu{
    position: fixed;
    flex-direction: column;
    text-align: center;
    transition: 0.3s;
    width: 100%;
    left: -100%;
    top: 70px;
    gap: 0;
    padding-left: 560px;
    
   }

   .nav-item{
    margin: 0px ;
   }
  
   .nav-menu.active{
    left: 0;
  
   }

.img1{
  display: none;
}


}

@media (min-width:768px) and (max-width:991px){

  .billboard{
    height: 50vh;
  }

  .nav-menu{
    display: flex;
    padding-left: 350px;
  }

  ul{
    margin-top: 50px;
  }
  h1{
    font-size: 59px;
  }
  .img1{
    width: 430px;
    height: 400px;
  }


}

/* About */



.dwnload{
  background-color: rgb(30, 35, 126);
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
 


}

.dwnload:hover{ background-color:black ;
color: white;
text-decoration: none;
}



.about{
  padding: 50px 0px;

}

.imgs2{
  width: 650px;

}

h2{
padding-bottom: 10px;
margin-left: 830px;
font-family: cursive;
}


@media (max-width:575px){

  h2{
    margin-left: 300px;
  }
  .imgs2{width: 415px;
    margin-left: 140px;

  }
  .mq2{ width: 650px;

  }
}






@media (min-width:768px) and (max-width:991px){

h2{
  margin-left: 370px;
}

.imgs2{
  width: 400px;
}

.mq2{
  font-size: 13px;
}


}







.services{
  padding: 50px 0px;
}


.img3{ width: 650px;
  height: 60vh;
  padding-bottom: 30px;
  

}

h3{
  padding-bottom: 25px;
  margin-left: 640px;
  font-family: cursive;
}

.para2{
  font-size: 25px;
  margin-bottom: 40px;
}
.para2:hover{
  color: white;
  background-color: rgb(30, 35, 126);
  border-radius: 5px;
  width: 60%;

  
  }

  @media (max-width:575px){

    h3.zzz{
      margin-left: 300px;
    }

    .img3{
      display: none;
    }
  }




  @media (min-width:768px) and (max-width:991px){

    h3.zzz{
      margin-left: 370px;
    }

    .img3{
      width: 530px;
      height: 47vh;
    }
  }






.testmonials{
  padding: 50px 0px;
}


.one{
  margin-top: 100px;
  text-align: center;
  border: 15px solid rgb(30, 35, 126);
  padding-top: 40px;
  
  
  
}


.two{
  margin-top: 5px;
  text-align: center;
  border: 15px solid rgb(30, 35, 126);
  padding-top: 30px;
  font-size: 10px;
  
  
}




.three{
  padding-top: 40px;
  text-align: center;
  margin-top: 100px;
  border: 15px solid rgb(30, 35, 126);
  
  
} 





@media (max-width:575px){

  h3{
    margin-left: 240px;
  }

  .one{
    margin-top: 0px;
    height: 30vh;
    width: 650px;
    margin-left: 38px;

  }

  .two{
    margin-top: 10px;
    height: 30vh;
    width: 650px;
    margin-left: 38px;


    
  }
  .three{
    margin-top: 10px;
    height: 30vh;
    width: 650px;
    margin-left: 38px;


  }
}


@media (min-width:768px) and (max-width:991px){
  
.one{
  width: 300px;
  border: 5px solid rgb(30, 35, 126);
  
}

.two{
  width: 300px; 
  border: 5px solid rgb(30, 35, 126);
 
 


}
 .three{
  width: 300px;
   border: 5px solid rgb(30, 35, 126);
   
 }
 

 h3{
  margin-left: 300px;
 }

  
}








  footer{
    border: 4px solid rgb(30, 35, 126);
    width: 100%;
    height: 60vh;
  }
  .fa{ font-size: 25px;
    padding: 10px 0px 0px 10px;
    border: 1px solid rgb(30, 35, 126);
    border-radius: 25px;
    width: 50px;
    height: 50px;
    
    }



  .last{
    display: flex;
  }

  .fa{
    margin-left: 100px;
    margin-bottom: 20px;
  }

  .lst{
    margin-left: 15px;
    padding-top: 10px;
  }


  .lit{
    padding-top: 100px;

  }

  .lit2{
    padding-top: 50px;
    
  }

  .hh{
    padding-bottom:30px ;
    margin-left: 100px;
    font-family: cursive;
  }

.hhh{padding-bottom: 50px;
     font-family: cursive;
}


  input{
    color: white;
    background-color: rgb(30, 35, 126);
    border: none;
    height: 45px;
    width: 60%;
    margin-bottom: 50px;
  }
    

  .sbmit{
    background-color: rgb(30, 35, 126);
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    
  }
  
  .sbmit:hover{ background-color:black ;
    color: white;
    text-decoration: none;
    }



  
  .btn2{
    padding-top: 40x;
  }

  @media (max-width:575px) {
    footer{
      width: 198%;
      height: 94vh;
    }
    .lit{
      padding-top: 40px;
    
    }
    
    .lit2{
      padding-top: 20px;
      
    }

    .fa{
      margin-left: 0px;
    }
    .hh{
         margin-left: 0px;
     }
     
     input{
      margin-bottom: 25px;

     }
  
  }
  


  @media (min-width:768px) and (max-width:991px){

    footer{
      height: 65vh;
    }
    
input{
  height: 40px;
  margin-bottom: 25px;
}

footer{
  width: 118%;
}
.lit{
  padding-top: 40px;

}

.lit2{
  padding-top: 20px;
  
}



  }
